nodes:
    - id: listener
      path: samples/conversation_py/listener-1/listener_1/main.py
      inputs:
        {% for talker_id in talkers %}
        speech-{{ talker_id }}: {{ talker_id }}-talker/speech
        {% endfor %}
